
@charset "utf-8";


@font-face {
	font-family: Joystix;
	src: url("fonts/Arcadepix_Plus.ttf") format("truetype");
}


@font-face {
	font-family: Pixel;
	src: url("fonts/Pixel_Font_free.ttf") format("truetype");
}

.pixel-font {
	font-family: Pixel;
}



button {
	font-family: Pixel;
	margin: 8px;
	color: black;
}


button:hover {
	transition: all ease 0.2s;
	color: red;
	cursor: url("images/mouse_cursor3.png"), default;
}


.big_title {
	font-family: Pixel;
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
	border-radius: 15px;
	padding: 9px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	/* width: 300px; */
}


.big_title:hover {
	transition: all ease 1.4s;
	color: #fff;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	padding: 9px;
	background-color: #000;
	cursor: url("images/mouse_cursor.png"), default;
}


#FenInDiv {
	position: relative;
	left: 60px;
	font-family: Pixel;
	color: black;
}


#FenInDiv a:hover {
	color: green;
	cursor: url("images/mouse_cursor.png"), default;
}


input[type="text"] {
	font-family: Joystix;
	font-size: 20px;
	color: green;
}


#fenIn {
	width: 560px;
	left: 60px;
}



#Board {
	position: relative;
	top: 20px;
	left: 60px;
	width: 480px;
	height: 480px;
	border-style: double;
	border-width: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}



#EngineOutput {
	position: absolute;
	left: 640px;
	top: 205px;	
	font-family: Pixel;
}

.Square {
	position: absolute;	
	width: 60px;
	height: 60px;
	cursor: url("images/mouse_cursor.png"), default;
}

.Square:hover {
	border: 3px solid #000;
	opacity: 0.8;
	transition: all ease 0.15s;
}


#ThinkTimeChoice {
	font-family: Pixel;
	color: black;
}

#ThinkTimeChoice:hover {
	color: purple;
	cursor: url("images/mouse_cursor3.png"), default;
}


.Dark {
	background-color: #6d3e17;
}

.Light {
	background-color: #f0c280;
}


.SqSelected {
	background-color: #038198;
}


.Piece {
	cursor: url("images/mouse_cursor2.png"), default;	
}


.Piece:hover {
	opacity: 0.6;
	transition: all ease 0.15s;
}


.rank1 { top: 420px; }
.rank2 { top: 360px; }
.rank3 { top: 300px; }
.rank4 { top: 240px; }
.rank5 { top: 180px; }
.rank6 { top: 120px; }
.rank7 { top: 60px; }
.rank8 { top: 0px; }

.file1 { left: 0px; }
.file2 { left: 60px; }
.file3 { left: 120px; }
.file4 { left: 180px; }
.file5 { left: 240px; }
.file6 { left: 300px; }
.file7 { left: 360px; }
.file8 { left: 420px; }

.Piece {
	position: absolute;
}

